# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.proxmox.tfvars

# Ansible
*.retry

# SSH Keys
id_rsa
id_rsa.pub
