---
- name: Install ZSH and related packages
  ansible.builtin.apt:
    name:
      - zsh
      - git
      - curl
      - wget
    state: present
    update_cache: true

- name: Check if Oh My Zsh is already installed for admin user
  ansible.builtin.stat:
    path: "/home/{{ admin_user }}/.oh-my-zsh"
  register: omz_admin_installed

- name: Check if Oh My Zsh is already installed for secondary user
  ansible.builtin.stat:
    path: "/home/{{ secondary_user }}/.oh-my-zsh"
  register: omz_secondary_installed

- name: Install Oh My Zsh for admin user
  ansible.builtin.shell: >-
    curl -fsSL
    https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh | bash
  args:
    creates: "/home/{{ admin_user }}/.oh-my-zsh"
  become_user: "{{ admin_user }}"
  ignore_errors: "{{ ansible_check_mode }}"
  when: not omz_admin_installed.stat.exists

- name: Install Oh My Zsh for secondary user
  ansible.builtin.shell: >-
    curl -fsSL
    https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh | bash
  args:
    creates: "/home/{{ secondary_user }}/.oh-my-zsh"
  become_user: "{{ secondary_user }}"
  ignore_errors: "{{ ansible_check_mode }}"
  when: not omz_secondary_installed.stat.exists

- name: Install zsh-autosuggestions plugin for admin user
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: >-
      /home/{{ admin_user }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions
    version: master
  become_user: "{{ admin_user }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install zsh-autosuggestions plugin for secondary user
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: >-
      /home/{{ secondary_user }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions
    version: master
  become_user: "{{ secondary_user }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install zsh-syntax-highlighting plugin for admin user
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: >-
      /home/{{ admin_user }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
    version: master
  become_user: "{{ admin_user }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install zsh-syntax-highlighting plugin for secondary user
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: >-
      /home/{{ secondary_user }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
    version: master
  become_user: "{{ secondary_user }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install Powerlevel10k theme for admin user
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "/home/{{ admin_user }}/.oh-my-zsh/custom/themes/powerlevel10k"
    version: master
  become_user: "{{ admin_user }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install Powerlevel10k theme for secondary user
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "/home/{{ secondary_user }}/.oh-my-zsh/custom/themes/powerlevel10k"
    version: master
  become_user: "{{ secondary_user }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Configure .zshrc for admin user
  ansible.builtin.template:
    src: zshrc.j2
    dest: "/home/{{ admin_user }}/.zshrc"
    owner: "{{ admin_user }}"
    group: "{{ admin_user }}"
    mode: '0644'

- name: Configure .zshrc for secondary user
  ansible.builtin.template:
    src: zshrc.j2
    dest: "/home/{{ secondary_user }}/.zshrc"
    owner: "{{ secondary_user }}"
    group: "{{ secondary_user }}"
    mode: '0644'

- name: Set ZSH as default shell for admin user
  ansible.builtin.user:
    name: "{{ admin_user }}"
    shell: /bin/zsh
  when: zsh_set_as_default | default(true) | bool

- name: Set ZSH as default shell for secondary user
  ansible.builtin.user:
    name: "{{ secondary_user }}"
    shell: /bin/zsh
  when: zsh_set_as_default | default(true) | bool
