# Global Widgets
# https://gethomepage.dev/latest/configs/widgets/

- search:
    provider: google
    focus: true
    target: _blank

- resources:
    label: local
    cpu: true
    memory: true
    disk: /

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hour12: false
