# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.proxmox.tfvars

# Ansible
*.retry

# Keys and Secrets
*.env
id_rsa
id_rsa.pub

# Ansible roles
11_infra_configuration/roles/geerlingguy.docker/**
11_infra_configuration/roles/geerlingguy.pip/**
11_infra_configuration/roles/artis3n.tailscale/**