---
# Role-specific defaults. Shared variables like admin_user are in group_vars/all

install_neovim: true
install_storage: true
install_docker: true
install_zsh: true
create_homelab_structure: true
install_webmin: true

zsh_set_as_default: true
enable_acl_permissions: false

webmin_port: 10000
usermin_port: 20000
webmin_bind_all_interfaces: true
configure_webmin_reverse_proxy: true

basic_packages:
  - zsh
  - git
  - wget
  - curl
  - keychain
  - vim
  - build-essential
  - zip
  - make
  - gcc
  - bash
  - bc
  - ca-certificates
  - iputils-ping
  - jq
  - less
  - libperl-dev
  - libxml2-utils
  - openssh-client
  - parallel
  - perl
  - time
  - unzip
  - lvm2
  - dnsutils
  - net-tools
  - qemu-guest-agent
  - apt-transport-https
  - gnupg
  - nfs-common

neovim_dependencies:
  - golang
  - ninja-build
  - gettext
  - libtool
  - libtool-bin
  - autoconf
  - automake
  - cmake
  - g++
  - pkg-config
  - curl
  - doxygen

data_mount_point: /data
data_filesystem: ext4
data_mount_options: "defaults,noatime"

lvm_volume_group_name: "data_vg"
lvm_data_volume_name: "data_lv"
lvm_data_volume_size: "80%VG"

# NFS Configuration
nfs_share_server: "10.0.40.2"
nfs_share_path: "/media"
nfs_mount_point: "/data/media"

role_pip_packages:
  - setuptools
  - pynvim
  - docker

# Portainer Configuration
install_portainer: true
portainer_image_version: "2.33.6"
portainer_agent_image_version: "2.33.6"
portainer_http_port: "9000"
portainer_https_port: "9443"
portainer_agent_port: "9001"
portainer_admin_user: admin

# Other secrets
github_personal_access_token: "{{ lookup('env', 'GITHUB_PERSONAL_ACCESS_TOKEN') | default(omit) }}"