version: "3.9"

services:
  filebrowser:
    image: gtstef/filebrowser:beta
    networks:
      - proxy
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - FILEBROWSER_ADMIN_PASSWORD=${FILEBROWSER_ADMIN_PASSWORD}
    volumes:
      - type: bind
        source: /data
        target: /data
      - type: bind
        source: /data/homelab/docker-data/filebrowser
        target: /home/filebrowser/data
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.proxmox == true
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=proxy"
        - "traefik.http.routers.filebrowser.rule=Host(`file.${DOMAIN}`)"
        - "traefik.http.routers.filebrowser.entrypoints=websecure"
        - "traefik.http.routers.filebrowser.tls.certresolver=cloudflare"
        - "traefik.http.services.filebrowser.loadbalancer.server.port=80"
        # Homepage
        - "homepage.group=Utilities"
        - "homepage.name=Filebrowser"
        - "homepage.icon=filebrowser.png"
        - "homepage.href=https://file.${DOMAIN}"
        - "homepage.description=Web File Manager"

  filerise:
    image: error311/filerise-docker:latest
    networks:
      - proxy
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PERSISTENT_TOKENS_KEY=${PERSISTENT_TOKENS_KEY}
    volumes:
      - type: bind
        source: /data
        target: /var/www/uploads
      - type: bind
        source: /data/homelab/docker-data/filerise/users
        target: /var/www/users
      - type: bind
        source: /data/homelab/docker-data/filerise/metadata
        target: /var/www/metadata
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.proxmox == true
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=proxy"
        - "traefik.http.routers.filerise.rule=Host(`rise.${DOMAIN}`)"
        - "traefik.http.routers.filerise.entrypoints=websecure"
        - "traefik.http.routers.filerise.tls.certresolver=cloudflare"
        - "traefik.http.services.filerise.loadbalancer.server.port=80"
        # Homepage
        - "homepage.group=Utilities"
        - "homepage.name=Filerise"
        - "homepage.icon=filerise.png"
        - "homepage.href=https://rise.${DOMAIN}"
        - "homepage.description=Photo/File Manager"

networks:
  proxy:
    external: true