version: "3.9"

services:
  whoami:
    image: traefik/whoami
    networks:
      - proxy
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    deploy:
      replicas: 3
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.whoami.rule=Host(`whoami.${DOMAIN}`)"
        - "traefik.http.routers.whoami.entrypoints=websecure"
        - "traefik.http.routers.whoami.tls.certresolver=cloudflare"
        - "traefik.http.services.whoami.loadbalancer.server.port=80"

networks:
  proxy:
    external: true